@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* Footer */
footer{
	margin-top: 1em;
	text-align: right;
}
/* End footer */

/* Poetry */
[epub|type~="z3998:poem"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:poem"] p > span + br{
	display: none;
}

[epub|type~="z3998:poem"] + p{
	text-indent: 0;
}
/* End poetry */
